

.body{background-color:#2F3436;
    margin: 0px;
    width: 100%;
    height: auto;
}

.cover{
    width: 80%;
    display: block;
    height: 80%;
    margin:auto;
    }    

.welcome{
    font-size:70px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding-top: 50px;
    color:#ABC55F;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 rgb(0, 0, 0), 0 -1px#F5504A;

}
.hires{
    color: white;
    text-align: center;
    font-family: 'muli';
    font-size: 20px;
    padding-top: 50px;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    border: #2F3436;
    padding-bottom: 20px;

}
.recap{
    color:#2F3436;
    display: block;
    margin-left: auto;
    margin-right: 280px;
    width: 50%;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 rgb(0, 0, 0), 0 -1px#2F3436;;

}
.oct{
    color: white;
    position: absolute;
    margin-top: -100px;
    left: 650px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 rgb(0, 0, 0), 0 -1px#F5504A; 
    padding-bottom: 50px
}
.wrapper1{
    color: white;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 60px;
}
.card1{
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    color: white;
}

.card{
    position: relative;
    min-width: 0;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: #2F3436;
    color: white;
    border: none;
    padding-bottom: 50px;

}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    margin-left: 190px;
  }
  
  .row::after {
    clear: both;
    display: table;
    }

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    display: table-footer-group;
}


.Jordi{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.employee{
    vertical-align: middle;}

.em{
    width: 50%;
    padding-top:100px;
    margin-left: auto;
    margin-right: auto;
    flex-direction:row;
    justify-content: space-around;
    float: center;
    }

.text{
    padding-right: 400px;
}


.Bdays{
    font-size:70px;
    padding-bottom: 30px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding-top: 90px;
    color:#ABC55F;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 rgb(0, 0, 0), 0 -1px#F5504A;
}

.Bdayss{
    font-size:70px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding-top: 90px;
    color:#ABC55F;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 rgb(0, 0, 0), 0 -1px#F5504A;
}
.r{
    padding-top: 50px;
}

.presents{
    opacity: 0.3;
    position: absolute;
    z-index: 1;
    margin-top: -110px;
    display: block; 
    margin-left: 280px;
    margin-right: auto;
    width: 50%;
}
.presentss{
    opacity: 0.3;
    position: absolute;
    z-index: 1;
    margin-top: -110px;
    display: block; 
    margin-left: 350px;
    margin-right: auto;
    width: 50%;
}
.centered {
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mem{
    margin-bottom: 50px;
    display: flex
}
.bdayp{
    color: white;
}
.cumple{
    text-align: center; 
    color: white;
    margin: auto;
}
.list-group-item {
    padding: .75rem 1.25rem;
    background-color: #2F3436;
}
.list-group-flush>.list-group-item {
    border: none;
}

.memory{
    height: 800px;
    width: 750px;
    padding-left: 125px;
    padding-top: 40px;
}
.me{
    height: 423px;
    width: 300px;
    margin-top: 143px;
    position: absolute;
    left: 615px;
}

.deck{
    padding-top: 350px;
}
.cub{
    margin: 0px;
    width: 85%;
    height: auto;
    position: absolute;
    z-index: 1;
    margin-top: 50px;
}
.Top{
    margin: 75px;
}
.work{
    display: block;
    flex-direction:row;
    justify-content: space-around;
  
}
.mike{
max-width: 700px;
margin: 0 auto 30px;
}

.comp{
    padding-top: 400px;
}
.bold{
    font-weight: bold;
    display: contents;

}
.list-group-items{
padding-bottom: 70px;
}

.card-img, .card-img-top{
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    width: 300px;
    margin: auto;
}
.jose{
    float: left;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;}

.jr{
    width: 645px;
    padding-left: 87px;
    padding-top: 50px;
}
.rd{
    padding-top: 50px;
    text-align: end;
    padding-left: 93px;
    margin-left: 155px;
    padding-right: 130px;
}
.raul{
   margin-left: 100px;
}
.JE{
    padding-top: 180px;
    color:  #ABC55F;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 rgb(0, 0, 0), 0 -1px#ABC55F;
}
.NY{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.Jess{
    font-size: 40px;
}

.green{
    color: #ABC55F;
    display: contents;
}
.cares{
    width: 800px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.a{
    margin-left: auto;
    display: block;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    width: 50%;
    margin-right: 85px

}